<form class="form-inline" [formGroup]="form" (ngSubmit)="onSubmitCategory()">
    <label for="name">Name: </label>
    <input type="text" class="form-control" formControlName="name" id="name">
    <input type="hidden" formControlName="email">
    <input type="hidden" formControlName="id">
    <button class="btn btn-primary" type="submit">{{formMode == mode.Add? 'Add': 'Save'}}</button>
    <button 
        class="btn btn-primary" 
        type="button" 
        *ngIf="formMode == mode.Edit"
        (click)="onCancel()"
        >Cancel</button>
</form>