<form>
    <div class="text-center">
        <div class="custom-control custom-radio custom-control-inline">
            <input 
                type="radio" 
                class="custom-control-input" 
                id="radioDay" 
                name="dateMode"
                [value]="dateMode.Day"
                [(ngModel)]="selectedMode" 
                >
            <label class="custom-control-label" for="radioDay">Day</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input 
                type="radio" 
                class="custom-control-input" 
                id="radioMonth" 
                name="dateMode" 
                [value]="dateMode.Month"
                [(ngModel)]="selectedMode" 
                >
            <label class="custom-control-label" for="radioMonth">Month</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input 
                type="radio" 
                class="custom-control-input" 
                id="radioRange" 
                name="dateMode" 
                [value]="dateMode.Range"
                [(ngModel)]="selectedMode" 
                >
            <label class="custom-control-label" for="radioRange">Range</label>
        </div>
    </div>
    <div class="form-inline justify-content-center">
        <ng-container *ngIf="selectedMode === dateMode.Day">
            <input 
                class="form-control" 
                name="date" 
                [(ngModel)]="date"
                mode="day"
                [dpDayPicker]="pickerConfig" 
                theme="dp-material"
                />
        </ng-container>
        <ng-container *ngIf="selectedMode === dateMode.Month">
            <input 
                class="form-control" 
                name="month" 
                [(ngModel)]="month"
                mode="month"
                [dpDayPicker]="monthPickerConfig" 
                theme="dp-material"
                />
        </ng-container>
        <ng-container *ngIf="selectedMode === dateMode.Range">
            <div class="custom-control custom-control-inline">
                <label for="from">From: </label>
                <input 
                    id="from" 
                    name="from" 
                    class="form-control mx-2" 
                    [(ngModel)]="from"
                    theme="dp-material"
                    [dpDayPicker]="pickerConfig" 
                    >
                <label for="end">To: </label>
                <input 
                    name="to" 
                    id="to" 
                    class="form-control mx-2" 
                    [(ngModel)]="to"
                    theme="dp-material"
                    [dpDayPicker]="pickerConfig" 
                    >
            </div>
        </ng-container>
        
        <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
    </div>
</form>
